@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fefce8;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.swal-confirm-btn {
  border-radius: 9999px !important; /* rounded-full */
  padding: 0.5rem 1.5rem; /* adjust padding as needed */
  background-color: #ea2849 !important;
  color: white !important;
  border: none;
}

.swal-confirm-btn:hover {
  background-color: #c31f3c !important;
}

.swal-cancel-btn {
  border-radius: 9999px !important;
  padding: 0.5rem 1.5rem;
  background-color: #ccc !important;
  color: black !important;
}
